<div class="login-container">
  <div class='allPage'>
    <h1>重設密碼</h1>
    <form [formGroup]="form" (ngSubmit)="reset()">

      <!-- 隱藏 username -->
      <input
        type="text"
        formControlName="username"
        autocomplete="username"
        style="display: none;"
      />

      <!-- 新密碼 -->
      <div class="signUpTxtb">
        <label>新密碼</label>
        <input type="password" formControlName="npw" autocomplete="new-password" placeholder="請輸入新密碼" />

        @if(form.get('npw')?.touched && form.get('npw')?.invalid) {
          @if(form.get('npw')?.errors?.['required']) {
            <small>請輸入密碼</small>
          }
          @if(form.get('npw')?.errors?.['minlength'] || form.get('npw')?.errors?.['maxlength']) {
            <small>密碼需介於 6～12 位</small>
          }
        }
      </div>

      <!-- 確認密碼 -->
      <div class="signUpTxtb">
        <label>確認密碼</label>
        <input type="password" formControlName="confirmPassword" autocomplete="new-password" placeholder="再次輸入新密碼" />

        @if(form.hasError('mismatch') && form.get('confirmPassword')?.touched) {
          <small>兩次密碼不一致</small>
        }
      </div>

      <!-- 送出 -->
      <button class="logtb" type="submit" [disabled]="form.invalid">
        重設密碼
      </button>

    </form>
  </div>
</div>
