<div class="page-header">
  <div class="title-container">
    <button class="back-btn" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>社區行事曆</h1>
  </div>
</div>

<div class="header">
  <div>
    <button class="nav-btn" (click)="prevMonth()">‹</button>
    <button class="today-btn" (click)="toTodayMonth()">Today</button>
  </div>
  <h2>{{ year() }} / {{ month() + 1 }}</h2>
  <div>
    <button class="nav-btn" (click)="nextMonth()">›</button>
  </div>
</div>

<div class="grid">
  <!-- 星期 -->
  <div class="cell header-cell-Sun-Sat">Sun</div>
  @for (d of ['Mon','Tue','Wed','Thu','Fri']; track d) {
    <div class="cell header-cell">{{ d }}</div>
  }
  <div class="cell header-cell-Sun-Sat">Sat</div>

  <!-- 日期 -->
  @for (day of days(); track day.date) {
    <div class="cell"
        (click)="selectDay(day)"
        [class.out]="!day.inMonth"
        [class.holiday]="day.holiday">


      <div class="date-header">
        <div class="date" [class.today]="day.isToday && day.inMonth">{{ day.date.getDate() }}</div>
        <div class="summary">
          <div class="event">
            @if(day.events.length) {
              📢 {{ day.events.length }}
            }
          </div>
          @if (!isAdmin) {
            <div class="reservation">
              @if(day.reservations.length) {
                📅 {{ day.reservations.length }}
              }
            </div>
          }

        </div>

      </div>

      @if (day.events.length) {
        <div class="events">
          @for (e of day.events.slice(0, 2); track e.title) {
            <div class="event-text">
              • {{ e.title }}
            </div>
          }
        </div>
      }

      @if (day.holiday) {
        <div class="holiday-text">
          {{ day.holiday.title }}
        </div>
      }
    </div>
  }
</div>

@if (selectedDate()) {
  <div class="event-panel">

    <div class="panel-header">
      {{ selectedDate() }}
      <button class="close-btn" (click)="selectedDate.set(null)">✕</button>
    </div>

    <div class="list-header">[活動]</div>
    <div class="panel-list">
      @if (selectedEvents().length === 0) {
        <div class="empty">
          <span>No events</span>
        </div>
      } @else {
        @for (e of selectedEvents(); track e.id) {
          <div class="event-row">
            <span>• {{ e.title }}</span>
            @if (isAdmin) {
              <button class="delete-btn" (click)="deleteEvent(e)">✕</button>
            }
          </div>
        }
      }
    </div>

    @if (!isAdmin) {
      <div class="list-header">[預約]</div>
      <div class="panel-list">
        @if (selectedReservations().length === 0) {
          <div class="empty">
            <span>No reservations</span>
          </div>
        } @else {
          @for (r of selectedReservations(); track r.title) {
            <div class="event-row">
              <mat-icon>schedule</mat-icon><span> {{ r.title }}</span>
            </div>
          }
        }
      </div>
    }


    @if (isAdmin) {
      <div class="add-event">

        <input
          type="text"
          placeholder="新增活動..."
          [value]="newEventTitle()"
          (input)="newEventTitle.set($any($event.target).value)"
          (keyup.enter)="addEvent()"
        />

        <button class="add-btn" (click)="addEvent()">新增</button>

      </div>
    }


  </div>
}
