<form action="">
  <div class="form-card" (click)="$event.stopPropagation()">
    <div class="form-header">
      <h2>預約 {{ data.facility.name }}</h2>
    </div>

    <div class="form-body a">
      <label>日期：{{ reservation.date }}</label>
      <label>開始時間：{{ reservation.startTime }}</label>
      <label>結束時間：{{ reservation.endTime }}</label>
      <mat-form-field>
        <mat-label>參與人數</mat-label>
        <mat-select [formControl]="attendeesControl" name="attemdees">
          @for (item of capacity; track item) {
          <mat-option [value]="item">
            {{ item }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-footer">
      <button class="cancel-btn" (click)="closeReserveForm()">取消</button>
      <button class="submit-btn" (click)="submitReservation()">確認預約</button>
    </div>
  </div>
</form>
