
<div class="bill-detail-card">

  <h3>{{ bill.title }}</h3>

  <hr>



  <div class="info-grid">

    <p><strong>住戶編號：</strong>{{ bill.unitNumber }}</p>

    <p><strong>帳單月份：</strong>{{ bill.billingMonth | date: 'yyyy-MM-dd' }}</p>

    <p><strong>繳費狀態：</strong>

      <span [ngClass]="{

        'status-paid': bill.status === '已繳',

        'status-unpaid': bill.status === '待繳',

        'status-OVERDUE': bill.status === '逾期'

      }">

        {{ bill.status }}

      </span>

    </p>

    <p><strong>繳費日期：</strong>{{ bill.paidAtDate ? (bill.paidAtDate | date: 'yyyy-MM-dd ') : '尚未繳費' }}</p>

  </div>



  <table class="detail-table">

    <thead>

      <tr>

        <th>項目</th>

        <th>金額</th>

      </tr>

    </thead>



    <tbody>

      <tr>
        <td>水費</td>
        <td>{{ bill.detail.waterFee }}</td>
      </tr>

      <tr>
        <td>電費</td>
        <td>{{ bill.detail.electricityFee }}</td>
      </tr>

      <tr>
        <td>管理費</td>
        <td>{{ bill.detail.managementFee }}</td>
      </tr>

      <tr>
        <td>汽車清潔費</td>
        <td>{{ bill.detail.carParkingFee }}</td>
      </tr>

      <tr>
        <td>機車清潔費</td>
        <td>{{ bill.detail.locomotiveParkingFee }}</td>
      </tr>



      <tr>

        <td>其他</td>

        <td>{{ bill.detail.otherFee }}</td>

      </tr>

      <tr class="total-row">
        <td >總計</td>
        <td><strong>{{bill.totalAmount}}</strong></td>
      </tr>

      <tr class="remark-row">
        <td >備註</td>
        <td>{{bill.remark}}</td>
      </tr>

    </tbody>

  </table>
</div>
<div class="bill-detail-card">
  </div>

@if(dialogType === 'userCashPay'){
  <div class="dialog-footer">
    <button class="btn-cancel" (click)="cancel()">取消</button>
    <button class="btn-confirm" (click)="userPay(bill.id)">用戶線下付款</button>
  </div>
}
